body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #EEF0F8 !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.logo-ubademy {
    max-inline-size: -webkit-fill-available;
    zoom: 25%;
    margin-top: -10%;
}
